@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @layer scroll-m-0 croll-p-0;
}

.food img {
  @apply w-80	h-52;
}

.head {
  @apply flex self-center	justify-center my-6 text-3xl text-red-400;
}

.wrap {
  @apply flex flex-wrap gap-9 justify-evenly mx-9 pb-20;
}

.food .foodStuffs {
  @apply text-xl  p-4  text-black;
}

.btn {
  @apply border  border-yellow-800 rounded p-2 bg-red-400;
}

.headTag {
  @apply before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-400 relative inline-block;
}

.nameTag {
  @apply relative text-white;
}

.food .foodStuffs {
  @apply shadow-[rgba(0,0,0,0.35)_0px_5px_15px] rounded-[4%] hover:shadow-[rgba(0,0,0,0.5)_0px_54px_75px,rgba(0,0,0,0.2)_0px_-12px_60px,rgba(0,0,0,0.2)_0px_4px_6px,rgba(0,0,0,0.2)_0px_12px_13px,rgba(0,0,0,0.5)_0px_-3px_5px] hover:transition-[0.6s];
}
.head {
  @apply w-screen;
}

@media screen and (max-width: 600px) {
  .btn {
    @apply border  border-yellow-800 rounded  bg-red-400;
  }

  button {
    @apply w-12;
  }
  .btn {
    @apply w-20 justify-self-center self-center;
  }
  .food img {
    @apply w-[25rem] h-32;
  }
}
