@tailwind base;
@tailwind components;
@tailwind utilities;

.food img {
    @apply w-80	h-52
}

.head {
    @apply flex self-center	justify-center my-6 text-3xl text-red-400 
}

.wrap {
    @apply flex flex-wrap gap-9 justify-between mx-9 pb-20  
}

.food .foodStuffs{
    @apply text-xl  p-4  text-black
}

.food .foodStuffs{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.food .foodStuffs:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10%;
    }


.btn {
    @apply border  border-yellow-800 rounded p-2 bg-red-400
}

.headTag {
    @apply before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-400 relative inline-block 
}

.nameTag {
    @apply relative text-white
}