@tailwind base;
@tailwind components;
@tailwind utilities;
.pays {
    @apply	 text-orange-400
}

* {
    @apply box-border m-0 p-0;
  }
  .dets {
    @apply flex items-center justify-center h-screen w-screen bg-[url('../assets/food.png')] bg-cover;
  }
  .card-dets {
    @apply flex flex-col;
  }
  .details {
    @apply flex flex-col items-center justify-center gap-5 border opacity-[90%] m-auto p-[10%] border-solid border-[black];
    background: linear-gradient(to right, #decba4, #3e5151);
  }
  .cards {
    @apply flex gap-40;
  }
  .cards h1 {
    @apply text-[22px];
  }
  .pays {
    @apply flex flex-row gap-8 text-[40px] text-[white];
  }
  

@media screen and (max-width: 600px){
.cards {
    @apply flex gap-[0.8rem];
  }
  .pays {
    @apply flex flex-row gap-[0.3rem] text-xl;
  }
  .cards h1 {
    @apply text-[0.8rem];
  }
  
    
}