@tailwind base;
@tailwind components;
@tailwind utilities;

.headtag {
  @apply before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-orange-400 relative inline-block;
}
h1 {
  @apply relative text-black   text-xl;
}

* {
  @apply box-border m-0 p-0;
}
.data {
  @apply flex items-center justify-center h-screen w-screen bg-[url('../assets/food.png')] bg-cover;
}
form {
  @apply flex flex-col items-center justify-center gap-5 border opacity-[90%] m-auto p-[10%] border-solid border-[black];
  background: linear-gradient(to right, #decba4, #3e5151);
}
input {
  @apply w-[40vw] h-[5vh] border pl-[3%] border-solid border-[black];
}
.display2 {
  @apply flex flex-col;
}
button {
  @apply border w-[10vw] p-[1%] border-solid border-[black];
}
label {
  @apply text-[25px];
}
