@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    @apply box-border m-0;
    padiing: 0;
  }
  .con1 {
    @apply bg-[linear-gradient(to_bottom,rgba(20,26,22,0.52),rgba(11,19,9,0.73)),url('../assets/food.png')] h-[70vh] w-[80vw] text-[white] translate-y-[20%] text-[22px] m-auto border-[none];
  }
  .container3 h1 {
    @apply text-[white] text-[22px] pl-12;
  }
  .appreciation h1 {
    @apply text-[white] pl-28;
  }
  .appreciation {
    @apply flex flex-col;
  }
  .tick {
    @apply text-[white] text-[150px] border -translate-y-2/4 translate-x-[270%] self-center justify-center rounded-[150px];
    background: green;
  }
  .close-btn {
    @apply shadow-[rgba(70,70,93,0.25)_80px_70px_60px_92px_inset,rgba(0,0,0,0.3)_0px_98px_96px_-98px_inset] text-[15px] w-36 p-[0.7rem] rounded-[3rem] border-[none];
    background: #ff355e;
  }
  .images {
    @apply w-[20vw] pl-12;
  }
  .con3 {
    @apply flex gap-[15%] pt-8;
  }
  .bttn {
    @apply pt-12 pb-0 px-28;
  }
  .con3 {
    @apply flex gap-16 flex-col pt-8;
  }
  .tick {
    @apply text-[white] text-[150px] border -translate-y-2/4 translate-x-[70%] self-center justify-center rounded-[150px];
    background: green;
  }
  .close-btn {
    @apply shadow-[rgba(70,70,93,0.25)_80px_70px_60px_92px_inset,rgba(0,0,0,0.3)_0px_98px_96px_-98px_inset] text-[15px] w-36 p-4 rounded-[3rem] border-[none];
    background: #ff355e;
  }
  .container2 {
    @apply mx-20 my-0;
  }
  


