@tailwind base;
@tailwind components;
@tailwind utilities;

.display {
  @apply flex justify-center box-border	m-auto bg-gray-100	min-h-screen;
}

.display h1 {
  @apply max-w-xs	text-lime-900;
}

.description .price {
  @apply text-lime-700;
}

.display1 {
  @apply flex flex-row border  border-yellow-800 justify-center gap-10 mx-8	mt-10 p-10	 h-fit text-xl;
}

.description {
  @apply flex flex-col gap-16 p-10 bg-gray-200 h-fit;
}

.description {
  @apply h-[75vh];
}
.names {
  @apply self-center text-[35px];
}
.describe {
  @apply text-[22px];
}
.display img {
  @apply h-[75vh] w-[50vw];
}
#but1 {
  @apply bg-[gray] w-32 self-center p-[0.4rem];
}
button:hover {
  @apply opacity-[80%];
}

@media screen and (max-width: 600px) {
  .display1 {
    @apply flex flex-col justify-center box-border	m-auto bg-gray-100	min-h-screen text-lg gap-3  mx-1	mt-1;
  }

  .description {
    @apply flex flex-col gap-4 p-6 bg-gray-200 h-fit;
  }
  .display img {
    @apply h-60 w-[30rem];
  }
  .description {
    @apply h-60;
  }
}
