@tailwind base;
@tailwind components;
@tailwind utilities;

.display {
    @apply  flex justify-center box-border	m-auto bg-gray-100	min-h-screen	
}

.names {
    align-self: center;
    font-size: 35px;
}

.describe {
    font-size: 22px;
}

.display h1 {
    @apply max-w-xs	text-lime-900
}

.display img {
    height: 75vh;		
    width: 50vw;	
}




.display1 {
    @apply  flex flex-row border  border-yellow-800 justify-center gap-10 mx-8	mt-10 p-10	 h-fit text-xl
}

.description {
    @apply flex flex-col gap-16 p-10 bg-gray-200 h-fit
}

.description {
    height: 75vh;
}

.description .price {
    @apply text-lime-700	
}

button {
    background-color: gray;
    width: 14vw;
    padding: 0.5rem;
    align-self: center;
}

button:hover {
   opacity: 80%;
}






