@tailwind base;
@tailwind components;
@tailwind utilities;

.profile {
  @apply p-4	bg-red-400		text-white text-xl;
}

.foodCards {
    @apply flex flex-wrap gap-3 justify-between mx-9 pt-20;
  }

  .dashboard {
    @apply p-4			text-black text-xl;
  }

* {
    @apply m-0 p-0;
  }
  .admin-dashboard {
    @apply h-screen flex flex-row gap-[10%];
    widht: 100vw;
  }
  .profile-section {
    @apply w-screen h-screen flex flex-col;
  }
  .profile {
    @apply h-[50vh] w-screen flex gap-5 flex-col;
  }
  .avatar {
    @apply w-[20vw] h-40  shadow-[rgba(50,50,93,0.25)_0px_50px_100px_-20px,rgba(0,0,0,0.3)_0px_30px_60px_-30px,rgba(10,37,64,0.35)_0px_-2px_6px_0px_inset];

  }
  .food-image {
    @apply w-[15vw];
  }
  .catalog {
    @apply shadow-[rgba(0,0,0,0.35)_0px_5px_15px] w-[20vw] p-[2%];
  }
  .dashboard {
    @apply flex flex-col items-center;
  }
  .blur {
    @apply backdrop-blur-[5px];
  }
  
@media screen and (max-width: 600px) {
  nav {
    visibility: none;
  }
}
