@tailwind base;
@tailwind components;
@tailwind utilities;



.admin-dashboard {
    height: 100vh;
    widht: 100vw;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.profile-section {
    height: 100vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
}

.profile {
    height: 50vh;
    width: 18vw;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    @apply	p-4	bg-red-400		text-white text-xl

}

.avatar {
    width: 10vw;
}


img {
    width: 20vw; 
}

.foodCards {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 2%;
}

.catalog {
    padding: 2%;
    border: 1px solid black;
}


.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard {
    @apply	p-4	bg-red-400		text-white text-xl
}