@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @layer scroll-m-0 croll-p-0;
}

.about {
  @apply text-red-400 text-xl;
}

.about-head {
  @apply before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-400 relative inline-block;
}

.about-header {
  @apply relative text-white text-xl;
}

.decor {
  @apply before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-400 relative inline-block;
}

.decor h2 {
  @apply relative text-white text-7xl;
}

.food {
  @apply text-white text-2xl;
}
#about-img {
  @apply w-[50vw] h-4/5;
}
.about-header {
  @apply flex flex-row;
}
.about p {
  @apply max-w-[300px];
}
.about {
  @apply flex flex-col items-center gap-8 mt-0 mb-28 mx-8;
}
.disect {
  @apply flex flex-row gap-20 m-auto pt-12;
}

@media screen and (max-width: 600px) {
  #about-img {
    @apply w-[70vw] h-4/5 justify-self-center self-center m-auto;
  }
  .disect {
    @apply flex flex-col gap-12 m-auto pt-4;
  }
  .about p {
    @apply max-w-[400px] text-base;
  }

  .about-header {
    @apply relative text-white text-lg;
  }

  .decor h2 {
    @apply relative text-white text-xl;
  }
}
