@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @layer scroll-m-0 croll-p-0;
}

.app-nav {
  @apply h-16  flex flex-row  gap-20  items-center justify-end	pr-9	bg-red-400		text-white text-xl;
}

.navBar {
  @apply w-screen;
}
.app-nav {
  @apply w-screen;
}
.food {
  @apply text-[80%];
}
.app-nav a:hover {
  @apply shadow-[rgba(0,0,0,0.25)_0px_54px_55px,rgba(0,0,0,0.12)_0px_-12px_30px,rgba(0,0,0,0.12)_0px_4px_6px,rgba(0,0,0,0.17)_0px_12px_13px,rgba(0,0,0,0.09)_0px_-3px_5px] px-[9px] py-1.5;
}


@media screen and (max-width: 600px) {
  .app-nav {
    @apply h-14  flex flex-row  gap-8  items-center justify-center	pr-0	bg-red-400		text-white text-lg;
  }
}

@media screen and (max-width: 370px) {
  .app-nav {
    display: none;
  }
}
