@tailwind base;
@tailwind components;
@tailwind utilities;

.foot {
    @apply	p-4	bg-red-400		text-white text-xl
}

.socials h1 {
    @apply			text-white text-2xl
}

* {
    @apply m-0 p-0;
  }
  footer {
    @apply w-screen;
  }
  .foot {
    @apply w-screen flex flex-row justify-between;
  }
  
.socials .social {
    @apply flex flex-row gap-12 justify-center text-[40px] pt-4;
  }
  .socials .social a:hover {
    @apply shadow-[rgba(0,0,0,0.5)_0px_54px_55px,rgba(0,0,0,0.12)_0px_-12px_30px,rgba(0,0,0,0.5)_0px_4px_6px,rgba(0,0,0,0.5)_0px_12px_13px,rgba(0,0,0,0.5)_0px_-3px_5px] transition-[0.6s];
  }
  

@media screen and (max-width: 600px) {
    .foot {
        display: none;
    }
}
