@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot {
    @apply	p-4	bg-red-400		text-white text-xl
}

.socials h1 {
    @apply			text-white text-2xl
}

.socials .social {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    padding-top: 1rem;
    font-size: 40px; 
}